baseURL="$[env:APP2_REMOTE_DOMAIN]"
dxp.lxc.liferay.com.virtualInstanceId="default"
name="App2\ Docker \Example"
type="customElement"
typeSettings=[ \
  "friendlyURLMapping=null", \
  "instanceable=false", \
  "urls=/static/js/bundle.js", \
  "useESM=true", \
  "htmlElementName=app2-docker-example", \
  "cssURLs=", \
  "portletCategoryName=category.remote-apps" \
]