authorizationEndPoint="http://sso.dev.local:8080/realms/master/protocol/openid-connect/auth"
customAuthorizationRequestParameters=[ \
  ]
customTokenRequestParameters=[ \
  ]
discoveryEndPoint=""
discoveryEndPointCacheInMillis=L"360000"
idTokenSigningAlgValues=[ \
  "RS256", \
  ]
issuerURL="http://sso.dev.local:8080/realms/master"
jwksURI="http://sso.dev.local:8080/realms/master/protocol/openid-connect/certs"
openIdConnectClientId="portal-client-id-4120c78d-c053-49d4-a957-0638cbde0b3b"
openIdConnectClientSecret="zoHVc1TM4ViEguxZ0BKj1FjpRXf6nibX"
providerName="portal-oidc-identity-provider"
registeredIdTokenSigningAlg=""
scopes="openid\ email\ profile"
subjectTypes=[ \
  "public", \
  ]
tokenConnectionTimeout=I"1000"
tokenEndPoint="http://sso.dev.local:8080/realms/master/protocol/openid-connect/token"
userInfoEndPoint="http://sso.dev.local:8080/realms/master/protocol/openid-connect/userinfo"
