authorizationEndPoint="http://sso.dev.local:8080/realms/portal-realm/protocol/openid-connect/auth"
customAuthorizationRequestParameters=[ \
  ]
customTokenRequestParameters=[ \
  ]
discoveryEndPoint="http://sso.dev.local:8080/realms/portal-realm/.well-known/openid-configuration"
discoveryEndPointCacheInMillis=L"360000"
idTokenSigningAlgValues=[ \
  "RS256", \
  ]
issuerURL="http://sso.dev.local:8080/realms/portal-realm"
jwksURI="http://sso.dev.local:8080/realms/portal-realm/protocol/openid-connect/certs"
openIdConnectClientId="portal-client"
openIdConnectClientSecret="e27cuBudejLXHgEjzehljIofpoU33xSX"
providerName="portal-oidc-identity-provider"
registeredIdTokenSigningAlg=""
scopes="openid\ email\ profile"
subjectTypes=[ \
  "public", \
  ]
tokenConnectionTimeout=I"1000"
tokenEndPoint="http://sso.dev.local:8080/realms/portal-realm/protocol/openid-connect/token"
userInfoEndPoint="http://sso.dev.local:8080/realms/portal-realm/protocol/openid-connect/userinfo"
